body {
    -webkit-text-size-adjust: none;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    display: table;
    border-spacing: 0px 20px;
    width: 100%;
}

pre {
    margin: 0px 0px 0px 0px;
}

.row {
    display: table-row;
    text-align: center;
}

.cell {
    display: inline-block;
    margin: 5px 5px 5px 5px;
}

.freeform {
    white-space: pre-wrap;
    max-width: 700px;
    margin:auto;
}

.string {
    color: #DF0002
}

.keyword {
    color: #AA0D91
}

.function {
    color: #2E0D6E
}

@media (min-width: 537px) {
    #small-name {
        display: none;
    }
}

@media (max-width: 536px) {
    #big-name {
        display: none;
    }
}

@media (min-width: 450px) {
    #compact-code {
        display: none;
    }
}

@media (max-width: 449px) {
    #wide-code {
        display: none;
    }
}

